@use '../../home/css/partials/globalStyle';
@use '../../home/css/partials/header';
@use '../../home/css/partials/mainGlobal';
@use '../../home/css/partials/footer';
@use '../../home/css/partials/changeLang';
@use '../../userAccountHandler/css/partials/containers';


.secondary-container-authent {
    @extend .secondary-container; 
    grid-template-rows: auto 1em;

    .authentication-form {
        align-self: center;
        grid-row: 1/2;
        min-width: 656px;
        padding: 1em 0px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto auto;
        justify-items: center;
        align-items: center;
        
        input {
            margin-left: 1.5em;
        }
    
        [for="login"] {
            grid-column: 1/2;
            grid-row: 1/2;
            justify-self: end;
        }
    
        [for="password"] {
            grid-column: 1/2;
            grid-row: 2/3;
            justify-self: end;
        }
        
        #login {
            grid-column: 2/3;
            grid-row: 1/2;
        }
    
        #password {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        #submit {
            grid-column: 3/4;
            grid-row: 2/3;
            justify-self: start;
        }
    }

    .error {
        grid-row: 2/3;
    }
}
    