body {
  margin: 0;
  font-family: "cmu_serifroman", sans-serif;
  font-size: 18px;
}

h1 {
  margin: 0px;
  padding: 1em 0px;
  text-align: center;
  font-family: "cmu_serifbolditalic", sans-serif;
  font-size: 32px;
}

h3 {
  text-align: center;
  font-family: "cmu_serifbold", sans-serif;
}

strong {
  font-family: "cmu_serifbold", sans-serif;
}

em {
  font-family: "cmu_serifitalic", sans-serif;
}

p {
  padding: 0.3em 1em;
  margin: 0;
}

a {
  text-decoration-line: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0px 1em;
}

input {
  margin: 0.5em 0px;
}

select {
  margin: 0.5em 0.5em;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.error {
  color: red;
}

.success {
  color: green;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: end;
  padding-top: 1em;
  background-color: rgb(156, 139, 227);
  border-bottom: thick solid rgb(255, 255, 56);
  align-items: center;
}
header #header-block-1 {
  grid-column: 1/2;
  display: flex;
  align-items: center;
}
header #header-block-1 #header_title {
  margin-right: 1em;
  padding-left: 1em;
  font-family: "cmu_serifbolditalic", sans-serif;
  font-size: 36px;
}
header #header-block-1 ul {
  display: flex;
}
header #header-block-1 ul li {
  font-size: 23px;
}
header #header-block-1 ul li a {
  color: black;
}
header #header-block-1 ul li a:visited {
  color: black;
}
header #header-block-1 ul li #home {
  color: red;
}
header #header-block-1 ul li #home:visited {
  color: red;
}
header #header-block-2 {
  grid-column: 2/3;
}
header #header-block-2 .french-width {
  width: 240px;
}
header #header-block-2 .english-width {
  width: 240px;
}
header #header-block-2 div {
  text-align: right;
}
header #header-block-2 span {
  margin: 0em 0.5em;
  padding: 0.1em 0.5em;
  background-color: steelblue;
  border: 1px solid black;
  color: white;
}
header #header-block-2 #management-menu {
  margin: 2px 0.5em;
  padding: 0.7em 0em;
  background-color: black;
  position: absolute;
  z-index: 1;
  border-width: 0px;
  text-align: left;
}
header #header-block-2 #management-menu a {
  color: white;
}
header #header-block-2 #management-menu a:visited {
  color: white;
}

main {
  background-color: rgb(56, 224, 233);
  padding-bottom: 2em;
}
main a {
  color: blue;
}
main a:visited {
  color: blue;
}

footer {
  background-color: rgb(64, 65, 65);
  border-top: thick solid rgb(200, 83, 83);
  padding: 1.5em 0px;
  font-family: sans-serif;
  font-size: 16px;
  font-style: italic;
}
footer ul {
  display: flex;
}
footer ul a {
  color: white;
}
footer ul a:visited {
  color: white;
}

#change_lang {
  padding: 0.2em 2em 0.2em 2em;
  text-align: right;
  background-color: rgb(35, 15, 178);
  color: white;
  font-family: sans-serif;
  font-size: 16px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  align-items: center;
}

.secondary-container, .secondary-container-CUA {
  grid-column: 2/3;
  border: 1px solid black;
  background-color: white;
  display: grid;
  justify-items: start;
  align-items: center;
}

.userAccount-form, .secondary-container-CUA .userAccount-form-CUA {
  align-self: center;
  grid-row: 1/2;
  min-width: 856px;
  padding: 1em 0px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  align-items: center;
}
.userAccount-form [for=login], .secondary-container-CUA .userAccount-form-CUA [for=login] {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
}
.userAccount-form [for=password1], .secondary-container-CUA .userAccount-form-CUA [for=password1] {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: end;
}
.userAccount-form [for=password2], .secondary-container-CUA .userAccount-form-CUA [for=password2] {
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: end;
}
.userAccount-form [for=email], .secondary-container-CUA .userAccount-form-CUA [for=email] {
  grid-column: 1/2;
  grid-row: 4/5;
  justify-self: end;
}
.userAccount-form #login, .secondary-container-CUA .userAccount-form-CUA #login {
  grid-column: 2/3;
  grid-row: 1/2;
}
.userAccount-form #password1, .secondary-container-CUA .userAccount-form-CUA #password1 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.userAccount-form #password2, .secondary-container-CUA .userAccount-form-CUA #password2 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.userAccount-form #email, .secondary-container-CUA .userAccount-form-CUA #email {
  grid-column: 2/3;
  grid-row: 4/5;
}

.secondary-container-CUA {
  grid-template-rows: auto auto 1em;
}
.secondary-container-CUA .userAccount-form-CUA {
  grid-template-rows: auto auto auto auto auto;
}
.secondary-container-CUA .userAccount-form-CUA [for=code] {
  grid-column: 1/2;
  grid-row: 5/6;
  justify-self: end;
}
.secondary-container-CUA .userAccount-form-CUA #code {
  grid-column: 2/3;
  grid-row: 5/6;
}
.secondary-container-CUA .userAccount-form-CUA #submit {
  grid-column: 3/4;
  grid-row: 5/6;
  justify-self: start;
}
.secondary-container-CUA #captcha {
  grid-row: 2/3;
  padding-left: 1em;
  align-self: center;
}
.secondary-container-CUA #captcha #captcha1 img {
  width: 205px;
  height: 50px;
  object-fit: fill;
}
.secondary-container-CUA #captcha #captcha2 img {
  width: 205px;
  height: 50px;
  object-fit: fill;
}
.secondary-container-CUA #captcha #captcha3 img {
  width: 205px;
  height: 50px;
  object-fit: fill;
}
.secondary-container-CUA #captcha #captcha4 img {
  width: 205px;
  height: 50px;
  object-fit: fill;
}
.secondary-container-CUA #captcha #captcha5 img {
  width: 205px;
  height: 50px;
  object-fit: fill;
}
.secondary-container-CUA #captcha #captcha6 img {
  width: 205px;
  height: 50px;
  object-fit: fill;
}
.secondary-container-CUA #captcha #captcha7 img {
  width: 205px;
  height: 50px;
  object-fit: fill;
}
.secondary-container-CUA #captcha #captcha8 img {
  width: 205px;
  height: 50px;
  object-fit: fill;
}
.secondary-container-CUA #captcha #captcha9 img {
  width: 205px;
  height: 50px;
  object-fit: fill;
}
.secondary-container-CUA #captcha #captcha10 img {
  width: 205px;
  height: 50px;
  object-fit: fill;
}
.secondary-container-CUA .error {
  grid-row: 3/4;
}

/*# sourceMappingURL=createUserAccountStyle.css.map */
