@use '../../home/css/partials/globalStyle';
@use '../../home/css/partials/header';
@use '../../home/css/partials/mainGlobal';
@use '../../home/css/partials/footer';
@use '../../home/css/partials/changeLang';
@use 'partials/containers';

.delete {
    color: darkred;
}

.cancel {
    color: green !important;
}

.cancel:visited {
    color: green !important;
}

.secondary-container-CUA {
    @extend .secondary-container; 
    grid-template-rows: auto auto;

    form {
        align-self: center;
        grid-row: 1/2;
        min-width: 856px;
        padding: 1em 0px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto auto;
        justify-items: start;
        align-items: center;
        
        #label-for-login {
            grid-column: 1/2;
            grid-row: 1/2;
            justify-self: end;
        }
            
                
        #label-for-email {
            grid-column: 1/2;
            grid-row: 2/3;
            justify-self: end;
        }
           
        #login{
            grid-column: 2/3;
            grid-row: 1/2;
        }
            
            
        #email{
            grid-column: 2/3;
            grid-row: 2/3;
        }

        #sub-cancel {
            grid-column: 3/4;
            grid-row: 2/3;
        }
    }

    #confirmation {
        margin-top: 1em;
        grid-row: 2/3;
        padding-left: 1em;
    }
            
  
}

